# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# credenciais
.env
